.country_div {
    background-color: azure;
    border-radius: 1em;
    padding: 2em;
    border: 1px solid black;
    margin: 0 auto 2em;
}

.visited_country_background {
    background-color: rgb(201, 255, 234);
}